body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

#root {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

/* src/index.css or App.css */
@font-face {
  font-family: 'Cotham Sans';
  src: url('/src/Fonts/cothamsans-webfont.woff2') format('woff2'),
    url('/src/Fonts/cothamsans-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cotham Sans';
  src: url('/src/Fonts/creatodisplay-regular-webfont.woff2') format('woff2'),
    url('/src/Fonts/creatodisplay-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cotham Sans';
  src: url('/src/Fonts/creatodisplay-medium-webfont.woff2') format('woff2'),
    url('/src/Fonts/creatodisplay-medium-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
